.product-card-container {
    width: 100%;
    display: grid;
    grid-template-rows: 439px 439px 439px 439px;
    grid-template-columns: 100px 100px 100px 100px;
    height: 70px;
    position: relative;
    justify-content: space-evenly;
    left: -57px;
    
  
    img {
      width: 100%;
      height: 56%;
      object-fit: cover;
      margin-bottom: 18px;
    }
  
    button {
      width: 80%;
      opacity: 0.7;
      position: absolute;
      top: 255px;
      display: none;
    }
  
    &:hover {
      img {
        // opacity: 0.8;
        cursor: pointer;
      }
  
      button {
        opacity: 0.85;
        display: flex;
      }
    }
  
    .footer {
      width: 250px;
      box-shadow: 0 0 10px #000000;
      border-radius: 5px;
      padding: 5px;
      margin: 0px 25px 25px 0;
  
      .name {
        width: 177%;
        font-size: 1.09rem;
    //     margin-bottom: 15px;
      }
  
      .price {
        font-size: 1.09rem;
      }
    }
  }

  .filtercontaier {
    position: relative;
    left: 44px;
}